@font-face
  font-family 'MagistralC-Bold'
  font-display swap
  src url("~/assets/fonts/MagistralC-Bold.ttf") format('truetype'), url("~/assets/fonts/MagistralC-Bold.woff") format('woff')

@font-face
  font-family 'PressStart2P-Regular'
  font-display swap
  src url("~/assets/fonts/PressStart2P-Regular.ttf") format('truetype'), url("~/assets/fonts/PressStart2P-Regular.woff") format('woff')
